*{
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* header */
   #text1{
     font-style: oblique;
     color: black;
   }
   
 
    /* background-color:#D9D9D9; */
    /* color: #da1212; */
  
  #items{
     font-style: oblique;
  }
 #crphoto{
    height: 100px ;
 }
 
 .main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 350px;
  margin: 22px;
  border: 2px solid whitesmoke;
  border-radius: 33px;
}
.card:hover {
 box-shadow: 0px 2px whitesmoke ;
 transition: 2ms;
}
.card-body{
  height: 200px;
}
#foot{
    text-align: center;
}

.main-logo {
  height: 399px;
  width: 568px;
}
.logo-container {
  height: 249px;
  width: 2302px;
  overflow-y: hidden;
  margin-top: -112px;
  margin-left: 43px;
}
@media screen and (max-width:620px) {
  .logo-container{
    margin-left: 2px !important;
    height: 249px !important;
    width: 2302px !important;
  }
}
@media screen and (max-width:570px) {
  .logo-container{
    margin-left: -13px !important;
    height: 249px !important;
    width: 2302px !important;
  }
}
@media screen and (max-width:548px) {
  .logo-container {
    margin-left: 11px !important;
    height: 240px !important;
    width: 2302px !important;
}
  .main-logo {
    height: 387px !important;
    width: 469px !important;
}
}
@media screen and (max-width:476px) {
  .logo-container {
    margin-left: 11px !important;
    height: 218px !important;
    width: 2302px !important;
    margin-top: -100px !important;
}
.main-logo {
  height: 348px !important;
  width: 378px !important;
}
}
@media screen and (max-width:385px) {
.logo-container {
  margin-left: 11px !important;
  height: 206px !important;
  width: 2302px !important;
  margin-top: -100px !important;
}
.main-logo {
  height: 325px !important;
  width: 327px !important;
}
}
@media screen and (max-width:331px) {
  .logo-container {
    margin-left: 11px !important;
    height: 185px !important;
    width: 2302px !important;
    margin-top: -85px !important;
}
.main-logo {
  height: 291px !important;
  width: 282px !important;
}
}
@media screen and (max-width:290px) {
  .logo-container {
    margin-left: 11px !important;
    height: 164px !important;
    width: 2302px !important;
    margin-top: -75px !important;
}
.main-logo {
  height: 256px !important;
  width: 250px !important;
}

}
@media screen and (max-width:1172px) {
  .logo-container {
    margin-left: 11px ;
    height: 218px ;
    width: 2302px ;
    margin-top: -100px ;
}
.main-logo {
  height: 348px ;
  width: 467px ;
}

}
@media screen and (max-width:460px) {
  #b4{
    margin-top: 6px;
    margin-left: 2px;
  }

}

@media screen and (min-width:1488px) {
  #tabs{
    font-size: 21px !important;
    margin-left: -312px ;
    margin-top: -8px;
    font-weight: bold;
}
}
@media screen and (max-width: 1488px){
#tabs {
    font-size: 21px !important;
    margin-left: -437px;
    margin-top: -8px;
    font-weight: bold;
}
}
@media screen and (max-width: 1396px){
#tabs {
    font-size: 20px !important;
    margin-left: -521px;
    margin-top: -8px;
    font-weight: bold;
}
}
@media screen and (max-width: 1309px){
#tabs {
    font-size: 18px !important;
    margin-left: -436px;
    margin-top: -8px;
    font-weight: bold;
}
}
@media screen and (max-width: 1271px){
#tabs {
    font-size: 16px !important;
    margin-left: -462px;
    margin-top: -8px;
    font-weight: bold;
}
}
@media screen and (max-width: 1172px){
  #tabs {
    font-size: 15px !important;
    margin-left: -724px;
    margin-top: -8px;
    font-weight: bold;
}
}
@media screen and (max-width: 992px){
#tabs {
    font-size: 15px !important;
    margin-left: 0px;
    margin-top: 0px;
    font-weight: bold;
}
}
.long-heading{
    overflow-y: hidden;
}
.short-heading{
  overflow-y: hidden;
}
.nav-link:hover{
  color: #da1212;
  font-weight: bold;
  font-style: italic;
}
#ue-heading{
  text-align: center;
  overflow-y: hidden;
  margin-top: 10px;
  font-style: italic;
}
#ue-heading:hover{
 cursor: pointer;
  color: #da1212;
  
}
.buttons{
  text-align: center;
}
#upcomingEvent{
  display: none;
}
#presentEvent{
  display: none;
}
#pastEvent{
  display: none;
}
.main{
  margin-bottom: 30px;
}