*{
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* header */
   /* #text1{
     font-style: oblique;
     color: black;
   } */
   
 
    /* background-color:#D9D9D9; */
    /* color: #da1212; */
  
  /* #items{
     font-style: oblique;
  } */
 /* #crphoto{
    height: 100px ;
 } */
 header{
  background-color: #eee;
 }
 .main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 330px;
  margin: 22px;
  border: 3px solid whitesmoke;
  margin-left: 12px;
}
.card-text{
  font-weight: lighter;
}
.card:hover {
 box-shadow: 0px 2px whitesmoke ;
 transition: 2ms;
}
.card-header img{
  height: 250px;
}
.card-para{
  height: 50px;
  overflow:hidden;
  
}
.card-body{
  height: 196px;
}
.main-logo {
  height: 203px;
  width: 568px;
}
.logo-container {
  height: 126px;
  width: 2260px;
  overflow-y: hidden;
  margin-top: -59px;
  margin-left: -131px;
}
.tabs-margin{
  margin-left: 20px;
}
/* @media screen and (max-width:620px) {
  .logo-container{
    margin-left: 2px !important;
    height: 249px !important;
    width: 2302px !important;
  }
}
@media screen and (max-width:570px) {
  .logo-container{
    margin-left: -13px !important;
    height: 249px !important;
    width: 2302px !important;
  }
}
@media screen and (max-width:548px) {
  .logo-container {
    margin-left: 11px !important;
    height: 240px !important;
    width: 2302px !important;
}
  .main-logo {
    height: 387px !important;
    width: 469px !important;
}
}
@media screen and (max-width:476px) {
  .logo-container {
    margin-left: 11px !important;
    height: 218px !important;
    width: 2302px !important;
    margin-top: -100px !important;
}
.main-logo {
  height: 348px !important;
  width: 378px !important;
}
}
@media screen and (max-width:385px) {
.logo-container {
  margin-left: 11px !important;
  height: 206px !important;
  width: 2302px !important;
  margin-top: -100px !important;
}
.main-logo {
  height: 325px !important;
  width: 327px !important;
}
}
@media screen and (max-width:331px) {
  .logo-container {
    margin-left: 11px !important;
    height: 185px !important;
    width: 2302px !important;
    margin-top: -85px !important;
}
.main-logo {
  height: 291px !important;
  width: 282px !important;
}
}
@media screen and (max-width:290px) {
  .logo-container {
    margin-left: 11px !important;
    height: 164px !important;
    width: 2302px !important;
    margin-top: -75px !important;
}
.main-logo {
  height: 256px !important;
  width: 250px !important;
}

}
@media screen and (max-width:1172px) {
  .logo-container {
    margin-left: 11px ;
    height: 218px ;
    width: 2302px ;
    margin-top: -100px ;
}
.main-logo {
  height: 348px ;
  width: 467px ;
}

}*/
@media screen and (max-width:460px) {
  #b4{
    margin-top: 6px;
    margin-left: 2px;
  }

}

@media screen and (min-width:1488px) {
  #tabs{
   
    margin-left: -312px ;
    margin-top: -8px;

}
}
@media screen and (max-width: 1488px){
#tabs {

    margin-left: -450px;
    margin-top: -8px;
    
}
}
@media screen and (max-width: 1275px){
#tabs {

    margin-left: -732px;
    margin-top: -8px;
   
}
}
@media screen and (max-width: 1136px){
  #tabs {
    
    margin-left: -1082px;
    margin-top: -8px;
  
}
}
@media screen and (max-width: 991px){
#tabs {
   
    margin-left: 0px;
    margin-top: 0px;
  
}
} 

header .nav-link:hover{
  color: #a24236;
  border-bottom: 2px solid #a24236;
}
body{
  font-weight: 600;
  font-family: -webkit-body;
}

#ue-heading{
  text-align: center;
  overflow-y: hidden;
  margin-top: 10px;
  
}
#ue-heading:hover{
 cursor: pointer;
  color: #a24236;
  
}
.buttons{
  text-align: center;
}
#upcomingEvent{
  display: none;
}
#presentEvent{
  display: none;
}
#pastEvent{
  display: none;
}
.main{
  margin-bottom: 30px;
}
.btns{
  border: 1px solid whitesmoke;
  border-radius: 37px;
  background-color: whitesmoke;
  padding: 10px 20px;
}
.btns.active {
  background:rgba(255, 0, 0, 0.707) ;
  color: white;
}
.footer-bg{
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card-text{
  color: black;
}
.card-text p{
  font-weight: lighter;
  
}

.fw-bold{
  color: black;
}
#registrationLink{
  text-decoration: none;
}