<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    
    <style>
        
        .container{
            padding: 10px;
            height: 100vh;
            width: 400px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            }
    </style>
</head>
<body>
    <div class="container">
        <form class="border border-dark p-lg-5 rounded-3" id="adminForm">
            <h2 class="mb-2">Admin Login</h2>
        <dl>
            <dt><label class="form-label" for="Username">Username</label></dt>
            <dd><input type="text" class="form-control" id="Username"></dd>
            <dt><label for="password">Password</label></dt>
            <dd><input type="password"class="form-control" id="password"></dd>
     
        </dl>
        <button class="btn btn-primary w-100 mt-2">login</button>
        </form>
    </div>
    <script>
        document.getElementById('adminForm').addEventListener('submit',function(e){
            e.preventDefault();
            const formData = new FormData(this);
            fetch('/adminLogin',{
                method:'POST',
                body: formData  
            })
            .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Success:', data);
        
      })
      .catch(error => {
        console.error('Error:', error);
        
      });

        })
    </script>
</body>
</html>
