<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        MIS
    </title>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="CSS/style.css">
</head>
 
<body>
  <header>
    <nav class="nav-header">
          <div class="logo-container"> <a href="index.html" ><img src="images/logo.png" class="main-logo"></a></div> 
          <h1 class="long-heading"> DAV COLLEGE EVENT MANAGEMENT SYSTEM</h1>
          <h1 class="short-heading">DEMS</h1>
    </nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="index.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/public/admin_login.html">ADMIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="dept_login.html">DEPARTMENT LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
      <div id="carouselExampleAutoplaying" class="carousel slide p-2" data-bs-ride="carousel" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.bhaskarassets.com/web2images/521/2023/11/08/100_1699361253654a31e5e3280_7nov3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.collegedunia.com/public/college_data/images/campusimage/15100501711big.jpg" class="d-block w-100" alt="...">
          </div>
         
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="main"> 
            <div class="card  h-50">
                <div class="card-header ">
                    <img src="https://static.vecteezy.com/system/resources/previews/007/303/756/original/live-cricket-tournament-match-background-free-vector.jpg" width="100%">
                </div>
                <div class="card-body">
                    
                    <p class="card-text" >
                        <span class="fw-bold">Event Name :</span> Cricket championship
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Event Incharge :</span> principal
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Venue :</span> Dav college
                    </p>           
               </div>    
            </div>
            <div class="card  h-50">
                <div class="card-header ">
                    <img src="https://cdn2.vectorstock.com/i/1000x1000/48/96/football-game-event-tournament-invitation-design-vector-14514896.jpg" width="100%">
                </div>
                <div class="card-body">
                    <p class="card-text" >
                        <span class="fw-bold">Event Name :</span> Footbal Tournament
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Event Incharge :</span> principal
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Venue :</span> Dav college
                    </p>
                </div>
                
            </div>
            <div class="card  h-50">
                <div class="card-header ">
                    <img src="https://cdn2.vectorstock.com/i/1000x1000/48/96/football-game-event-tournament-invitation-design-vector-14514896.jpg" width="100%">
                </div>
                <div class="card-body">
                    <p class="card-text" >
                        <span class="fw-bold">Event Name :</span> Footbal Tournament
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Event Incharge :</span> principal
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Venue :</span> Dav college
                    </p>
                </div>
                
            </div>
            <div class="card  h-50">
                <div class="card-header ">
                    <img src="https://cdn2.vectorstock.com/i/1000x1000/48/96/football-game-event-tournament-invitation-design-vector-14514896.jpg" width="100%">
                </div>
                <div class="card-body">
                    <p class="card-text" >
                        <span class="fw-bold">Event Name :</span> Footbal Tournament
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Event Incharge :</span> principal
                    </p>
                    <p class="card-text" >
                        <span class="fw-bold">Venue :</span> Dav college
                    </p>
                </div>
                
            </div>
        </div>
       
        <footer class="py-5 border-top" id="foot">
            <div class="row">
              <div class="col-6 col-md-2 mb-3">
                <h5>External Links</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="https://davcmc.net.in/" class="nav-link p-0 text-body-secondary">DAVCMC, New Delhi</a></li>
                  <li class="nav-item mb-2"><a href="https://www.davuniversity.org/" class="nav-link p-0 text-body-secondary">DAV University</a></li>
                  <li class="nav-item mb-2"><a href="https://online.gndu.ac.in/" class="nav-link p-0 text-body-secondary">GNDU</a></li>
                  <li class="nav-item mb-2"><a href="https://www.ugc.gov.in/" class="nav-link p-0 text-body-secondary">UGC</a></li>
                  <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-body-secondary">NAAC</a></li>
                  <li class="nav-item mb-2"><a href="https://www.education.gov.in/ict-initiatives" class="nav-link p-0 text-body-secondary">MHRD ICT</a></li>
                  <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-body-secondary">National Digital Library</a></li>
                  <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-body-secondary">e-Shodh Sindhu</a></li>
                  <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-body-secondary">NList-Inflibnet</a></li>
                  <li class="nav-item mb-2"><a href="https://swayam.gov.in/" class="nav-link p-0 text-body-secondary">Swayam</a></li>
                </ul>
              </div>
        
              <div class="col-6 col-md-2 mb-3">
                <h5>Information Link</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="https://www.davcollegeasr.org/index.aspx" class="nav-link p-0 text-body-secondary">Home</a></li>
                  <li class="nav-item mb-2"><a href="https://www.davcollegeasr.org/about_college.aspx" class="nav-link p-0 text-body-secondary">About</a></li>
                  <li class="nav-item mb-2"><a href="https://www.davcollegeasr.org/Contact_Us.aspx" class="nav-link p-0 text-body-secondary">Contact</a></li>
                  <li class="nav-item mb-2"><a href="https://davcollegeasr.org/Admin/login.aspx" class="nav-link p-0 text-body-secondary">ADMIN</a></li>
                  <li class="nav-item mb-2"><a href="/public/index.html" class="nav-link p-0 text-body-secondary">MIS LOGIN</a></li>
                </ul>
              </div>  
        
             <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
              <p>Managed and Maintained By: PG Department of Computer Science and IT, DAV College, Amritsar, All Rights Reserved. © 2023 Coded By : <a href="https://www.davcollegeasr.org/#" class="nav-link p-0 text-body-secondary">Website Committee</a></p>
             
            </div>
          </footer>      
        
</body>
</html>